h1 {
	color: blue;

}
table {
	color: green;
}
#fooditems{
	font-size: 20pt;
}
.firsth1{
	font-size: 40pt;
}
.shrinkThis{
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
}